.about-title {
  font-size: 50px;
  font-weight: 400;
  margin-top: 200px;
}

.about-first-section {
  margin-bottom: 30px;
}

.about-title-fonts-special {
  font-family: "inria-serif, sans-serif";
  font-style: italic;
  font-weight: 400;
  font-size: 55px;
}

.about-birth {
  font-size: 30px;
  font-weight: 300;
}

.about-without-margin {
  margin: 0;
}

.about-subtitel {
  text-align: right;
  font-size: 20px;
  font-weight: 300;
}

.about-second-section {
  margin-top: 100px;

  &.t-middle-about {
    margin-top: 30px;
  }
}

.about-description-subtitel {
  font-size: 20px;
  font-weight: 400;

  span {
    font-weight: 700;
  }
}

.about-last-child {
  margin-bottom: 50px;

  a {
    text-decoration: none;
  }
}

.about-photo {
  display: flex;
  justify-content: space-around;

  img {
    width: 45%;
    margin-top: 150px;
  }
}

.about-box-icon {
  display: flex;
  margin-top: 100px;
}

.about-icon {
  margin-right: 70px;
}

.about-second-section.about-description-subtitel.about-last-child {
  font-weight: 700;
}

.about-mailto-reference-person {
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 992px) {
  .about-photo img {
    margin-top: 100px;
  }

  .about-icon {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .about-subtitel {
    font-size: 18px;
  }

  .about-description-subtitel {
    font-size: 18px;
  }

  .about-title {
    font-size: 30px;
    margin-top: 150px;
  }

  .about-birth {
    font-size: 20px;
  }

  .about-first-section {
    margin-bottom: 15px;
  }

  .about-second-section {
    margin-top: 50px;
  }

  .about-icon {
    width: 40%;
    margin-right: 35px;
  }

  .about-box-icon {
    margin-top: 50px;
  }

  .about-photo img {
    width: 80%;
    margin-top: 75px;
  }

  .about-title-fonts-special {
    font-size: 34px;
  }
}
