.about-title {
  font-size: 50px;
  font-weight: 400;
}

.about-first-section {
  margin-bottom: 30px;
}

.about-title-fonts-special {
  font-family: "inria-serif, sans-serif";
  font-style: italic;
  font-weight: 400;
}

.about-birth {
  font-size: 30px;
  font-weight: 300;
}

.about-without-margin {
  margin: 0;
}

.about-subtitel {
  text-align: right;
  font-size: 20px;
  font-weight: 300;
}

.about-second-section {
  margin-top: 100px;
}

.about-description-subtitel {
  font-size: 20px;
  font-weight: 400;

  span {
    font-weight: 700;
  }
}

.about-last-child {
  margin-bottom: 50px;
}

.about-photo {
  display: flex;
}

.about-photo-cv {
  width: 35%;
  justify-content: flex-end;
}

.about-box-icon {
  display: flex;
  margin-top: 100px;
}

.about-icon {
  margin-right: 70px;
}

@media (max-width: 430px) {
  .about-subtitel {
    font-size: 18px;
  }

  .about-description-subtitel {
    font-size: 18px;
  }

  .about-title {
    font-size: 30px;
  }

  .about-birth {
    font-size: 20px;
  }

  .about-first-section {
    margin-bottom: 15px;
  }

  .about-second-section {
    margin-top: 50px;
  }

  .about-icon {
    width: 10%;
    margin-right: 35px;
  }

  .about-box-icon {
    margin-top: 50px;
  }
}
