.banner-background {
  display: flex;
  align-items: center;
}

.banner-second-background {
  display: flex;
  align-items: center;
}

.banner {
  user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-55% + var(--offset));
}

.banner-second {
  user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-55% + var(--offset));
}

.banner-inner {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: scroll 40s linear infinite;
}

.banner-second-inner {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: scroll2 40s linear infinite;
}

.banner span {
  white-space: nowrap;
  font-size: 60px;
  padding: 0 1vw;
  text-transform: uppercase;
}

.banner span a,
.banner-second span a {
  text-decoration: none;
}

.banner-second span {
  white-space: nowrap;
  font-size: 60px;
  padding: 0 1vw;
  text-transform: uppercase;
}

.banner-special {
  font-family: "inria-serif", sans-serif;
  font-style: italic;
  font-weight: 300;
}

@keyframes scroll {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes scroll2 {
  0% {
    transform: translate3d(var(--move-final), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
}

@media (max-width: 430px) {
  .banner-second span {
    font-size: 30px;
  }

  .banner span {
    font-size: 30px;
  }
}

.banner-master-container {
  margin: 30px 0 50px 0;
}

@media (max-width: 992px) {
  .banner-second span {
    font-size: 45px;
  }

  .banner span {
    font-size: 45px;
  }
}
