.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 80px;
  font-size: 18px;
}

.footer-font-special {
  font-family: "inria-serif", sans-serif;
  font-style: italic;
}

.footer-contact {
  margin-top: 75px;
}

@media (max-width: 430px) {
  .footer {
    font-size: 14px;
    padding-bottom: 35px;
  }

  .footer-contact {
    margin-top: 50px;
  }
}

// @media (max-width: 800px) {
//   .footer-contact {
//     margin-top: 250px;
//   }
// }
