.navigation-space {
  width: 113px;
}

.navigation li a {
  padding: 2px;
  text-decoration: none;

  &:hover {
    border-bottom: solid 1px;
  }
}

.navigation-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  position: fixed;
  top: 1px; /* Ajout d'une unité valide */
  right: 1px;
  left: 1px;
  margin: 2px;
  z-index: 10000;
  border: 0.5px solid #12238c;
  padding: 10px 20px; /* Valeur par défaut */

  @media (min-width: 576px) {
    padding: 15px 25px;
  }

  // @media (width >= 992px) { range syntax
  @media (min-width: 992px) {
    padding: 25px 75px;
  }
}

.navigation-accueil {
  z-index: 100000000000;
}

.navigation-title {
  list-style-type: none;
  z-index: 50000;

  a {
    text-decoration: none;
    font-family: "inria-serif", sans-serif;
    font-style: italic;
    padding-bottom: 2px;

    &:hover {
      border-bottom: solid 1px;
    }
  }
}

.navigation-pages {
  list-style-type: none;
  display: none;

  @media (min-width: 992px) {
    display: flex;
  }
}

@media (max-width: 992px) {
  .navigation {
    justify-content: flex-end;
  }

  .navigation-header {
    padding-top: 50px;
  }

  .navigation-title {
    padding-right: 0;
  }
}
