.navigation-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  font-size: 20px;
}

.navigation-space {
  width: 113px;
}

.navigation li a {
  padding: 2px;
  text-decoration: none;

  &:hover {
    border-bottom: solid 1px;
  }
}

.navigation-title {
  font-family: "inria-serif", sans-serif;
  font-style: italic;
  padding-right: 55px;
}

.navigation.navigation-header {
  padding: 10px 0 10px;
  padding-left: 55px;
}

.navigation-box {
  position: fixed;
  top: 1;
  right: 1;
  left: 1;
  margin: 2px;
  z-index: 10000;
  border: 0.5px solid #12238c;
}

.navigation-title {
  list-style-type: none;

  a {
    text-decoration: none;
  }
}

.navigation-pages {
  list-style-type: none;
  display: none;

  @media (min-width: 992px) {
    display: flex;
  }
}

@media (max-width: 992px) {
  .navigation {
    justify-content: flex-end;
  }

  .navigation-header {
    padding-top: 50px;
  }

  .navigation-title {
    padding-right: 0;
  }
}
