.projects-base-pages a {
  border: 1px solid #0c2492;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.4s;
  padding: 30px 0;

  &:hover {
    filter: brightness(0.4);
  }
}

.projects-description-base-pages {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  z-index: 100;
}

.projects-img-base-pages {
  width: 90%;
}

.projects-title-single-page {
  font-family: "inria-serif";
  font-size: 46px;
  font-weight: 300;
  margin-top: 200px;
}

.projects-language-single-page {
  margin-top: 200px;
}

.projects-description-single-pages {
  font-family: "inria-sans";
  font-size: 18px;
  font-weight: 300;
  margin-top: 200px;
}

.projects-img-single-pages {
  width: 100%;
  // background: pink;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.t-img2 img {
    width: 70%;
  }

  &.t-img3 img {
    width: 100%;
  }

  &.t-img4 img {
    width: 80%;
    z-index: 1000;
  }

  &.t-img-licorne-2 img {
    width: 70%;
    z-index: 1000;
  }

  &.t-img-moodboard img {
    border: black solid 0.5px;
  }

  &.t-maison {
    display: flex;
    justify-content: center;
  }
}

.projects-bloc-img-single-page {
  margin-top: 100px;
}

.projects-language-single-page {
  text-align: end;
}

.projects-img {
  width: 100%;
}

.projects-box-mindshift {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-box-puerto-mate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-box-glitch.t-video-3 video {
  margin-top: 30px;
}

.projects-box-work {
  margin-top: 100px;
}

.projects-without-margin {
  margin-top: 0;
}

.projects-subtitel-img {
  position: absolute;
  bottom: 5px;
  right: 40px;
  text-transform: uppercase;
  font-size: 14px;
}

.projects-work {
  border: 1px solid #0c2492;
  background-color: rgba(12, 37, 146, 0.1);
  margin-top: 16px;

  &:hover {
    background: rgba(12, 37, 146, 0.1);
  }
}

@media (max-width: 600px) {
  h2.projects-title-single-page {
    margin-top: 150px;
    margin-bottom: 0;
  }

  .projects-description-single-pages {
    font-size: 16px;
    margin-top: 50px;
  }

  .projects-language-single-page {
    margin-top: 50px;
  }

  .projects-without-margin {
    margin-top: 0;
  }

  .projects-img-single-pages.t-img2 img {
    width: 35%;
  }

  .t-video-mobile {
    margin-top: 30px;
  }

  .projects-box-mindshift video {
    width: 100%;
  }

  .projects-box-puerto-mate video {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .projects-base-pages a {
    padding: 25px 0;
  }

  .projects-title-single-page {
    margin-top: 200px;
  }

  .projects-description-single-pages {
    margin-top: 100px;
  }

  .projects-language-single-page {
    margin-top: 100px;
  }

  .projects-without-margin {
    margin-top: 0;
  }

  .projects-box-mindshift video {
    width: 75%;
  }

  .projects-box-puerto-mate video {
    width: 75%;
  }

  .projects-description-base-pages {
    font-size: 15px;
    padding-top: 10px;
  }
}
